{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<h1 class="text-center mb-2">
    {% block form_type %}
        Add invoice
    {% endblock form_type %}
</h1>
<div class="row my-4">
    <form method="post" class="col-11 col-md-8 mx-auto" id="estimate_form">
        {% crispy form %}
        <div id="oder_line_form_list" class="my-3">
            <div class="d-none" id="default_order_line_form">
                {% crispy formset.empty_form %}
            </div>
            {% crispy formset order_lines_helper %}
        </div>
        <a class="btn btn-outline-success mb-2" id="add_more_item">Add more item</a>
        <div class="row">
            <div class="col-6 mx-auto">
                <div class='d-grid'>
                    <input type="submit" value="submit" class="btn btn-lg btn-primary">
                </div>
            </div>
        </div>
    </form>

</div>
{% endblock content %}

{% block custom_script %}
    {% include 'sales/estimate/include/add_more_item.html' %}
{% endblock custom_script %}
