{% extends 'core/base.html' %}
{% load i18n %}
{% block content %}
<h1 class="text-center mb-2">{% translate "Delete a saler" %}</h1>
<div class="row my-4">
    <div class="col-11 col-md-6 mx-auto text-center">
        <h4>
            {% translate "You are trying to delete this saler " %} : {{object.name}}
        </h4>
        <p>Adrese : {{ object.adress }} , {{ object.city }} - {{ object.postal_code }} - {{ object.country }}</p>
        <p>Contact : email : {{object.email}} {% if object.phone_number %} {{ object.phone_number }} {% endif %}</p>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <div class="d-grid gap-4 w-25 mx-auto">
            <button type="submit" class="btn btn-outline-primary">Confirm</button>
            <a href="{% url 'sales:saler_list' %}" class="btn btn-outline-secondary">Cancel</a>
          </div>
    </form>
</div>
{% endblock content %}
