{% extends 'core/base.html' %}
{% block content %}
<h1 class="text-center mb-2">Saler(s)</h1>
<div class="row my-4 justify-content-center">
    <div class="col-10 col-md-6">
        <a href="{% url 'sales:saler_create' %}" target="_blank" rel="noopener noreferrer" class="btn btn-outline-success my-3 btn-lg">
            <i class="fa-regular fa-square-plus"></i>
            Add
        </a>
        <table class="table table-striped table-bordered">
            <thead class="table-primary">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
            {% for saler in object_list %}
                <tr class="{% if not saler.is_active %} table-danger {% endif %}">
                    <td>{{ saler.name }}</td>
                    <td>
                        <a class="btn btn-outline-success text-capitalize" href="{% url 'sales:saler_update' saler.id %}" role="button">
                            <i class="fa-sharp fa-solid fa-pen"></i>
                            update
                        </a>
                        <a class="btn btn-outline-danger text-capitalize" href="{% url 'sales:saler_delete' saler.id %}" role="button">
                            <i class="fa-solid fa-trash-can"></i>
                            delete
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No saler yet.</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-11 col-md-8 mx-auto">
        {% include 'core/pagination.html' %}
    </div>
</div>
{% endblock content %}
